<header>
    <a href="/">
        <img src="pictures/logo.svg" alt="fastenateLogo" id="logo">
    </a>
</header>
<nav id="links">
    <a href='/random'>Random</a>
    <a href='/'>My Boards</a>
    <a href='/'>Get The App</a>
</nav>