<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/sampleReddit.css">
    <link rel="shortcut icon" type="image/png" href="pictures/superman.png" />
    <script>var postObj = '{{ id }}'</script>
    <title>Fastenate</title>
</head>

<body>
    {{> header}}
    <div>
        <div id='mainPic'></div>
        <div>
            <p id='title'></p>
            <p>Created
                <span id="time"></span> Ago by
                <span id="author"></span>
            </p>
            <p>
                <span id="numComments"></span> Comments</p>
        </div>
    </div>

    <div id="replies">
    </div>

    {{> footer}}

    <script src='../js/xhr.js'></script>
    <script src='../js/time.js'></script>
    <script src='../js/sampleReddit.js'></script>
</body>

</html>